/* Navbar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0.25rem;
    background-color: #333;
    color: #fff;
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 1000;
}

/* Left Section */
.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Logo */
.navbar-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Title */
.navbar-title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

/* Right Section */
.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Avatar */
.navbar-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #fff;
}

/* Mobile Menu Icon */
.navbar-menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: wheat;
    border:#0e0d0d;
    cursor: pointer;
    color: bisque;
}

.navbar-menu-icon .menu-bar {
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    border-color: #0e0d0d;
    transition: all 0.3s ease;
}

/* Media Queries for Mobile-First Design */
@media (max-width: 768px) {
    .navbar-title {
        font-size: 16px;
    }
    .navbar-menu-icon {
        display: none;}
}
